<table cellpadding="10">
    <tr>
        <td><img src="/static/python24.png" width="24" height="24" valign="middle"></img></td>
        <td valign="middle">
            <strong><strong>Butorin Mikhail. Homework 22-2</strong></strong>
        </td>
    </tr>
</table>

{% for message in get_flashed_messages() %}
<p>{{message}}</p>
{%endfor%}

<p>Get anthem of country:</p>
<form method="post">
    <table>
        <tr>
            <td>COUNTRY:&nbsp;</td><td><input type="text" name="country" placeholder="Enter official country name"></td>
        </tr>
        <tr>
            <td>EMAIL:&nbsp;</td><td><input type="email" name="email" placeholder="Enter your e-mail address"></td>
        </tr>
    </table>
    <button type="submit">GET ANTHEM</button>
</form>
